@page "/edit-rol/{Id:int}"

@using System.ComponentModel.DataAnnotations;
@using Consultorio_Medico.BL.DTOs.RolDTO;
@using Consultorio_Medico.Blazor.Data;

<h3>@language.Traduction("Lista de Roles", "Edit Role")</h3>
@if (isSuccess == false && isError == false)
{

    <EditForm Model="rolInput" OnValidSubmit="@Edit">
        <div class="row">
            <RadzenFormField Text="@(language.Traduction("Nombre", "Name"))" Style="width: 50%" Variant="@variant">
                <RadzenTextBox @bind-Value="rolInput.Name" />
                <ValidationMessage For="() => rolInput.Name" />
            </RadzenFormField>
        </div>
        <br>
        <RadzenDropDown Placeholder="@(language.Traduction("Estado", "Status"))" @bind-Value="rolInput.Status" Data="GetStatusOptions()" TextProperty="Text" ValueProperty="Value" Style="width: 50%">
            <ValidationMessage For="() => rolInput.Status" />
        </RadzenDropDown>

        <div class="row">
            <div class="col-12">
                <RadzenButton ButtonType="ButtonType.Submit" Text="@(language.Traduction("Guardar", "Save"))" Icon="check_circle" Style="margin-top: 10px"></RadzenButton>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <RadzenButton Text="@(language.Traduction("Cancelar", "Cancel"))" Style="margin-top: 10px" Click="@Cancel"></RadzenButton>
            </div>
        </div>
    </EditForm>

}
else if (isSuccess)
{
    rolInput = new RolInputDTO();
    isError = false;

    <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Success" Size="AlertSize.Medium" Shade="Shade.Light" AllowClose=false>
        @(language.Traduction("¡El rol se actualizó con éxito!", "Role was successfully updating!"))        
    </RadzenAlert>
    <RadzenButton Text="Return to List" ButtonStyle="ButtonStyle.Primary" Icon="check_circle" Style="margin-top: 10px" Click="@Cancel"></RadzenButton>
}
else if (isError)
{
    <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Danger" Size="AlertSize.Medium" Shade="Shade.Dark" AllowClose=false>
        @(language.Traduction("Ocurrió un error al intentar actualizar el rol.", "An error occurred while trying to updating role."))        
    </RadzenAlert>
    <RadzenButton Text="@(language.Traduction("Aceptar", "Accept"))" ButtonStyle="ButtonStyle.Secondary" Style="margin-top: 10px" Click="@Cancel"></RadzenButton>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    RolService rolService { get; set; }

    [Inject]
    LanguageService language { get; set; }


    RolSearchingOutputDTO rolOut = new RolSearchingOutputDTO();
    RolInputDTO rolInput = new RolInputDTO();

    bool isSuccess = false;
    bool isError = false;

    Variant variant = Variant.Outlined;

    protected override async Task OnInitializedAsync()
    {
        var rolResult = await rolService.GetById(Id);
        rolOut = rolResult.Data;
        rolInput = new RolInputDTO(rolOut);
    }

    private async Task Edit()
    {
        var result = await rolService.Edit(Id, rolInput);
        if (result != null)
            isSuccess = true;
        else
            isError = true;
    }

    IEnumerable<dynamic> GetStatusOptions()
    {
        yield return new { Text = "ACTIVO", Value = (byte)1 };
        yield return new { Text = "INACTIVO", Value = (byte)2 };
    }

    private void Cancel()
    {
        navigation.NavigateTo("/roles");
    }
}
