@page "/roles"
@attribute [Authorize]

@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using Consultorio_Medico.BL.DTOs.RolDTO;
@using Consultorio_Medico.Blazor.Data;

<h3>@language.Traduction("Lista de Roles", "Rol List")</h3>
@if (isOcultarGrid)
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                AllowGrouping="false" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                Style="border-radius: 10px"
                Data="@roles" TItem="RolSearchingOutputDTO" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true"
                IsLoading=@isLoading Sort="@ShowLoading" Page="@ShowLoading" Group="@ShowLoading" Filter="@ShowLoading">
        <Columns>

            <RadzenDataGridColumn TItem="RolSearchingOutputDTO" Property="Name" Title="@(language.Traduction("Nombre", "Name"))" Frozen="true" Width="160px" />

            <RadzenDataGridColumn TItem="RolSearchingOutputDTO" Property="StrStatus" Title="@(language.Traduction("Estado", "Status"))" Width="160px" />

            <RadzenDataGridColumn TItem="RolSearchingOutputDTO" Context="rol" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
                <Template Context="rol">
                    <RadzenButton Icon="delete" IconColor="@Colors.Danger" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => GoDelete(rol))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="details" IconColor="@Colors.PrimaryLight" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => GoDetails(rol))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="edit" IconColor="@Colors.PrimaryLight" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => GoEdit(rol))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
}

<br>
<RadzenButton Click=GoCreate Text="@(language.Traduction("Agregar", "Add New"))" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />


@code {
    [Inject]
    NavigationManager navigation { get; set; }
    IQueryable<RolSearchingOutputDTO> data;

    [Inject]
    LanguageService language { get; set; }

    bool isLoading = false;
    bool isOcultarGrid = true;
    async Task ShowLoading()
    {
        isLoading = true;

        await Task.Yield();

        isLoading = false;
    }


    RadzenDataGrid<RolSearchingOutputDTO> grid;



    List<RolSearchingOutputDTO> roles = new List<RolSearchingOutputDTO>();

    [Inject]
    RolService rolService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await rolService.Search();
        if (response.Success)
        {
            roles = response.Data;
        }
    }

    private void GoEdit(RolSearchingOutputDTO rol)
    {
        navigation.NavigateTo($"/edit-rol/{rol.RolId}");
    }

    private void GoCreate()
    {
        navigation.NavigateTo($"/create-rol");
    }

    private void GoDetails(RolSearchingOutputDTO rol)
    {
        navigation.NavigateTo($"/rol-details/{rol.RolId}");
    }

    private void GoDelete(RolSearchingOutputDTO rol)
    {
        navigation.NavigateTo($"/delete-rol/{rol.RolId}");
    }

}
