@page "/create-specialty"

@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using Consultorio_Medico.BL.DTOs.SpecialtiesDTO;
@using Consultorio_Medico.Blazor.Data;

<h3>@language.Traduction("Crear Nueva Especialidad", "Create Specialty")</h3>
@if (isSuccess == false && isError == false)
{
    <EditForm Model="specialties" OnValidSubmit="@Create">
        <div class="row">
            <RadzenFormField Text="@(language.Traduction("Especialidad", "Specialty"))" Style="width: 50%" Variant="@variant">
                <RadzenTextBox @bind-Value="specialties.Specialty" />
            </RadzenFormField>
        </div>

        <div class="row">
            <div class="col-12">
                <RadzenButton ButtonType="ButtonType.Submit" Text="@(language.Traduction("Guardar", "Save"))" Icon="check_circle" Style="margin-top: 10px"></RadzenButton>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <RadzenButton Text="@(language.Traduction("Cancelar", "Cancel"))" ButtonStyle="ButtonStyle.Danger" Icon="cancel" Style="margin-top: 10px" Click="@Cancel"></RadzenButton>
            </div>
        </div>
    </EditForm>
}
else if (isSuccess)
{
    specialties = new SpecialtiesInputDTO();

    isError = false;
    <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Success" Size="AlertSize.Medium" Shade="Shade.Light" AllowClose=false>
        @(language.Traduction("¡La especialidad se creo con éxito!", "Specialty created successfully!"))        
    </RadzenAlert>
    <RadzenButton Text="@(language.Traduction("Seguir Creando", "Go to Create"))" Icon="check_circle" Style="margin-top: 10px" Click="@GoCreate"></RadzenButton>
    <RadzenButton Text="@(language.Traduction("Regresar a la Lista", "Return to List"))" ButtonStyle="ButtonStyle.Secondary" Icon="cancel" Style="margin-top: 10px" Click="@Cancel"></RadzenButton>
}
else if (isError)
{
    <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Danger" Size="AlertSize.Medium" Shade="Shade.Dark" AllowClose=false>
        @(language.Traduction("Ocurrió un error al intentar registrar.", "An error occurred while trying to register."))
       
    </RadzenAlert>
    <RadzenButton Text="@(language.Traduction("Aceptar", "Accept"))" ButtonStyle="ButtonStyle.Secondary" Style="margin-top: 10px" Click="@Cancel"></RadzenButton>
}


@code {
    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    SpecialtyService specialtyService { get; set; }

    [Inject]
    LanguageService language { get; set; }

    SpecialtiesInputDTO specialties = new SpecialtiesInputDTO();

    bool isSuccess = false;
    bool isError = false;

    Variant variant = Variant.Outlined;

    private async Task Create()
    {
        var result = await specialtyService.Create(specialties);
        if (result != null)
            isSuccess = true;
        else
            isError = true;
    }

    private void GoCreate()
    {
        isSuccess = false;
        isError = false;
    }

    private void Cancel()
    {
        navigation.NavigateTo("/specialties");
    }
}
