@page "/specialty-details/{Id:int}"
@attribute [Authorize]

@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using Consultorio_Medico.BL.DTOs.SpecialtiesDTO;
@using Consultorio_Medico.Blazor.Data;

<h3>@language.Traduction("Detalle de Especialidad", "Specialty Details")</h3>
<div class="row">
    <RadzenFormField Text="@(language.Traduction("Especialidad", "Specialty"))" Style="width: 50%" Variant="@variant">
        <RadzenTextBox @bind-Value="specialties.Specialty" ReadOnly="true" />
    </RadzenFormField>
</div>

<div class="row">
    <div class="col-12">
        <RadzenButton Text="@(language.Traduction("Volver a la Lista", "Return to List"))" ButtonStyle="ButtonStyle.Secondary" Icon="cancel" Style="margin-top: 10px" Click="@Cancel"></RadzenButton>
    </div>
</div>


@code {

    [Parameter]
    public int Id { get; set; }

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    SpecialtyService specialtyService { get; set; }

    [Inject]
    LanguageService language { get; set; }

    SpecialtiesOutputDTO specialties = new SpecialtiesOutputDTO();

    Variant variant = Variant.Outlined;

    bool disabled = true;

    protected override async Task OnInitializedAsync()
    {
        var rolResult = await specialtyService.GetById(Id);
        specialties = rolResult.Data;
    }

    private void Cancel()
    {
        navigation.NavigateTo("/specialties");
    }

}
