@page "/patients"

@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Forms;
@using System.ComponentModel.DataAnnotations;
@using Consultorio_Medico.BL.DTOs.PatientDTO;
@using Consultorio_Medico.Blazor.Data;

<h3>@language.Traduction("Lista de Pacientes", "Patient List")</h3>
@if (isOcultarGrid)
{
    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                AllowGrouping="false" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                Style="border-radius: 10px"
                Data="@patients" TItem="patientSearchOutputDTO" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true"
                IsLoading=@isLoading Sort="@ShowLoading" Page="@ShowLoading" Group="@ShowLoading" Filter="@ShowLoading">
        <Columns>

            <RadzenDataGridColumn TItem="patientSearchOutputDTO" Property="Name" Title="@(language.Traduction("Nombre", "Name"))" Frozen="true" Width="160px" />

            <RadzenDataGridColumn TItem="patientSearchOutputDTO" Property="LastName" Title="@(language.Traduction("Apellido", "Last Name"))" Width="160px" />

            <RadzenDataGridColumn TItem="patientSearchOutputDTO" Property="Telefono" Title="@(language.Traduction("Télefono", "Phone Number"))" Width="160px" />

            <RadzenDataGridColumn TItem="patientSearchOutputDTO" Property="DUI" Title="DUI" Width="160px" />

            <RadzenDataGridColumn TItem="patientSearchOutputDTO" Context="patient" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
                <Template Context="patient">
                    <RadzenButton Icon="delete" IconColor="@Colors.Danger" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => GoDelete(patient))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="details" IconColor="@Colors.PrimaryLight" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => GoDetails(patient))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton Icon="edit" IconColor="@Colors.PrimaryLight" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                              Click="@(args => GoEdit(patient))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

<br>
<RadzenButton Click=GoCreate Text="@(language.Traduction("Agregar", "Add New"))" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />

@code {
    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    PatientService patientService { get; set; }

    [Inject]
    LanguageService language { get; set; }

    List<patientSearchOutputDTO> patients = new List<patientSearchOutputDTO>();

    bool isLoading = false;
    bool isOcultarGrid = true;
    async Task ShowLoading()
    {
        isLoading = true;

        await Task.Yield();

        isLoading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await patientService.Search();
        if (response.Success)
        {
            patients = response.Data;
        }
    }

    private void GoCreate()
    {
        navigation.NavigateTo($"/create-patient");
    }

    private void GoEdit(patientSearchOutputDTO patient)
    {
        navigation.NavigateTo($"/edit-patient/{patient.patientId}");
    }

    private void GoDetails(patientSearchOutputDTO patient)
    {
        navigation.NavigateTo($"/patient-details/{patient.patientId}");
    }

    private void GoDelete(patientSearchOutputDTO patient)
    {
        navigation.NavigateTo($"/delete-patient/{patient.patientId}");
    }
}
